{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
    <div class="align-content-around">

        {{ form_start(form) }}
        {{ form_row(form.searchField) }}
        <button type="submit" name="btnSearch">Search</button>
        {{ form_end(form) }}

    </div>



    <h1 class="text-center articleTitle">All articles from article s table : </h1>

    <div class="container">
        {% for article in articles %}

            <div>
                <h2 class="articles">{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
                <p>{{ article.content }}</p>
            </div>

        {% else %}
            Aucun article trouvé.
        {% endfor %}

        <a href="{{ path('app_index') }}">
            Back to homepage.
        </a>
    </div>


{% endblock %}